@import "../../global.scss";

.topbar{
    background-color: #202020; 
    color: $topbarTextColor; //color value from global.scss
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0 ;
    z-index: 3; //make this component stand front off others
    transition: all 1s ease; //transition from topbar and topbar-active animation complete in 1 sec for smooth

    .wrapper{
        padding:5px 15px; //top-down 5px left-right 10px,if have 4 is up right down left
        display:flex;
        align-items: center;
        justify-content: space-between;

            .left{
            display: flex;
            align-items: center;

            
                .logo{
                font-size: 30px;
                font-weight: 700;
                text-decoration: none;
                color: inherit; //same with main color 
                margin-right: 40px;
                
                    .caticon{
                        width: 30px;
                        height: 30px;
                        margin-right: 5px;
                    }
                }

                .itemcontainer{
                    display: flex;
                    align-items: center;
                    margin-left: 30px;

                    .icon{
                        font-style: 18px;
                        margin-right: 5px;
                    }
                    
                    span{
                        font-size: 20px;
                        font-weight: 300;
                    }
                }
            }
            .right{
                display: flex;
                align-items: center;

                .hamburger {
                    width: 20px;
                    height: 21px;
                    display: flex;
                    cursor: pointer;
                    flex-direction: column;
                    justify-content: space-between;

                    span{
                        width: 100%;
                        height: 3px;
                        background-color: $topbarTextColor;
                        margin: 2px;
                        transform-origin: left;
                        transition: all 2s ease;
                    }
            }
        }
    }
    &.active{
        background-color: $topbarTextColor;
        color: #202020;

        .hamburger{
            span{ //from first-child to last-child is all class under mother-class(hambuger) sorting by first to last class
                &:first-child{ 
                    background-color: #202020;
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:last-child{
                    background-color: #202020;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}