@import "../../global.scss";

.topbar{
    background-color: #202020; 
    color: $topbarTextColor; //color value from global.scss
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0 ;
    z-index: 2; //make this component stand front off others

    .wrapper{
        padding:5px 15px; //top-down 5px left-right 10px,if have 4 is up right down left
        display:flex;
        align-items: center;
        justify-content: space-between;

            .left{
            display: flex;
            align-items: center;
            
                .logo{
                    font-size: 30px;
                    font-weight: 700;
                    text-decoration: none;
                    color: inherit; //same with main color 
                    margin-right: 40px;
                    }

                .itemcontainer{
                    display: flex;
                    align-items: center;
                    margin-left: 30px;

                    .icon{
                        font-style: 18px;
                        margin-right: 5px;
                    }
                    
                    span{
                        font-size: 20px;
                        font-weight: 300;
                    }
                }
            }
            .right{
                display: flex;
                align-items: center;

                .hamburger {
                    width: 25px;
                    height: 21px;
                    display: flex;
                    cursor: pointer;
                    flex-direction: column;
                    justify-content: space-between;

                    span{
                        width: 100%;
                        height: 3px;
                        background-color: $topbarTextColor;
                        margin: 2px;
                    }
            }
        }
    }
    &.active{
        background-color: $topbarTextColor;
        color: #202020;

        .hamburger{
            span{
                &:first-child{
                    
                }
            }
        }
    }
}